.Header {
  box-sizing: border-box;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: baseline;
  padding: 1em;
  margin-bottom: 2em;
  background-color: teal;
  color: #fff;
}

.Header Link{
  margin: 1%;
  float: left;
  text-decoration: none;
  cursor: pointer;
}